* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar {
  padding: 0;
}
.mark {
  background-color: #e8e7e7 !important;
}
/* .custom-card-load {
  margin: 12px;
  transition: opacity 0.5s ease-in-out;
  animation: animCard 0.3s ease-in-out;
}
 */
.bg-primary {
  background-color: #03a9f4 !important;
}

.card {
  margin: auto;
  margin-top: 10px;
  border-radius: 2%;
  width: 300px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background-color: #1a1d24;
  color: #a59413;
  overflow: hidden;
  position: relative;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0.3em 0.3em 0.4em #1a1d24;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.card-body > * {
  flex: 1;
}
.card-img-top {
  height: 200px;
}
*/ .img-thumbnail {
  padding: 0;
  height: 210px;
  width: auto;
  border: none;
}
.like-box {
  /* border:1px solid blue; */
  position: relative;
  transition: 0.3s ease-in-out;
}

.likes {
  text-align: center;
  line-height: 2em;
  /* border-radius: 15px; */
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffff;
  position: absolute;
  bottom: 8px;
  right: 0;
  height: 30px;
  width: 50px;
  transform: translate(100%, 5%);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
div.like-box:hover .likes {
  transform: translateX(0%);
}

@keyframes animCard {
  0% {
    margin: 0;
    opacity: 0;
    transform: translateY(-10%);
  }
  100% {
    margin: 12px;
    opacity: 1;
    transform: translateY(0);
  }
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border: none;
  background-color: #dddddd;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active:focus,
.nav-tabs .nav-link.active:hover {
  border: none;
}
.nav-tabs .nav-link {
  border: none;
}

.btn-primary {
  background-color: #1a1d24 !important;
  color: #a59413 !important;
}
.btn-primary:hover {
  background-color: #002b36 !important;
  color: white !important;
}

.btn-outline-primary {
  border: 1px solid #0073ff !important;
  color: #03a9f4 !important;
}
.btn-outline-primary:hover {
  background-color: #002b36 !important;
  color: white !important;
}
.custom-Read-more:hover {
  background-color: #03a9f4 !important;
  color: #ffff !important;
}
.custom-post-display {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border:1px solid red; */
}
.tab-pane {
  background-color: rgba(172, 172, 172, 0.3);
  padding: 8px;
}
.comment-block {
  transition: background-color 0.2s ease-in-out;
  padding: 8px;
}
.comment-block:hover {
  background-color: rgba(226, 226, 226, 0.3);
}
.comment-block:hover .btn-delete {
  background-color: #f44336;
  color: #ffff !important;
}
.btn-custom:hover {
  background-color: #6c757d !important;
  color: #ffff !important;
}

a {
  color: black;
  text-decoration: none !important;
}
a:hover {
  color: rgb(107, 107, 107);
}

* {
  font-family: "Raleway", sans-serif;
}

.custom-card-load > img {
  animation: slide-down 0.5s ease-in-out;
}

@keyframes slide-down {
  0%,
  15% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.icon-edit {
  color: #000 !important;
}
.icon-delete {
  color: black !important;
}
.icon-edit:hover {
  color: #03a9f4 !important;
}
.icon-delete:hover {
  color: red !important;
}

.rows {
  animation: slide-row-left 0.5s ease-in-out;
}

.row-remove {
  animation: slide-row-right 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
@keyframes slide-row-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes slide-row-left {
  0%,
  15% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.fa-trash:hover {
  color: red;
}

.fa-edit:hover {
  color: #03a9f4;
}

.bg-primary {
  background-color: #01232c !important;
}

.jumbotron {
  color: #7d99a3;
  background-color: inherit;
}
.menu-link {
  border-bottom: 3px solid #2aa198;
  line-height: 1.5 !important;
}
/* .navbar-toggler{
  background-color:  #03a9f4 !important;
} */
.navbar-toggler-icon {
  color: white;
  border: 1px solid red;
}

.btn-outline-secondary {
  color: #a59413;
  border-color: inherit;
}
.table-hover tbody tr:hover {
  color: White;
  background-color: rgba(0, 0, 0, 0.075);
}
