/** @format */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* color: #e6cf23; */
}
body {
  min-height: 100vh;
  position: relative;
  overflow: auto;
}

p {
  color: #d9d9d9;
}
.navbar {
  padding: 0;
}
.mark {
  background-color: #e8e7e7 !important;
}
/* .custom-card-load {
  margin: 12px;
  transition: opacity 0.5s ease-in-out;
  animation: animCard 0.3s ease-in-out;
}
 */
.bg-primary {
  background-color: #03a9f4 !important;
}

.card {
  border-radius: 2%;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background-color: #1a1d24;
  color: #ffff;
  overflow: hidden;
  position: relative;
  margin: 8px;
  max-width: 280px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0.2em 0.2em 0.5em #000304;
  animation: card-load 0.3s ease-in-out;
}
@keyframes card-load {
  0% {
    margin: 2px;
  }
  100% {
    margin: 8px;
  }
}
.card:hover {
  transform: translateY(-3px);
  box-shadow: 0.1em 0.1em 0.5em #000304;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
}
.card-body > * {
  flex: 1;
  justify-content: stretch;
}
.card-img-top {
  height: 200px;
}
.img-thumbnail {
  padding: 0;
  height: 210px;
  width: auto;
  border: none;
}
.like-box {
  /* border:1px solid blue; */
  position: relative;
  transition: 0.3s ease-in-out;
}

.likes {
  text-align: center;
  line-height: 2em;
  /* border-radius: 15px; */
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffff;
  position: absolute;
  bottom: 8px;
  right: 0;
  height: 30px;
  width: 50px;
  transform: translate(100%, 5%);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
div.like-box:hover .likes {
  transform: translateX(0%);
}

@keyframes animCard {
  0% {
    margin: 0;
    opacity: 0;
    transform: translateY(-10%);
  }
  100% {
    margin: 12px;
    opacity: 1;
    transform: translateY(0);
  }
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border: none;
  background-color: #dddddd;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active:focus,
.nav-tabs .nav-link.active:hover {
  border: none;
}
.nav-tabs .nav-link {
  border: none;
}

/*.brd-grdnt {
    background:linear-gradient(
    90deg,
    rgb(170, 167, 214) ,
    Yellow ,
    rgba(0, 212, 255, 1)
  );
}
*/

/* .brd-grdnt:hover {
  animation: border-change infinite ease-in-out;
}

@keyframes border-change {
  0% {
    background: linear-gradient(
      0deg,
      rgb(170, 167, 214),
      Yellow,
      rgba(0, 212, 255, 1)
    );
  }

  100% {
    background: linear-gradient(
      90,
      rgb(170, 167, 214),
      red,
      rgba(0, 212, 255, 1)
    );
  }
} */

.btn {
  box-shadow: 0.1em 0.1em 0.3em rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease-in-out;
}
.btn-primary {
  /*  border-image: linear-gradient(
    90deg,
    rgb(170, 167, 214) ,
    Yellow ,
    rgba(0, 212, 255, 1)
  ); */
  background-color: #1a1d24 !important;
  color: #a59413 !important;
}

.btn-primary:hover {
  background-color: #232731 !important;
  box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.7);
  color: white !important;
}

.btn-outline-primary {
  border-image-source: linear-gradient(
    90deg,
    rgb(170, 167, 214) 0%,
    Yellow 35%,
    rgba(0, 212, 255, 1) 100%
  );
  border: 1px solid #0073ff !important;
  color: #03a9f4 !important;
}
.btn-outline-primary:hover {
  background-color: #002b36 !important;
  color: white !important;
}
.custom-Read-more:hover {
  background-color: #03a9f4 !important;
  color: #ffff !important;
}
.btn-custom {
  color: #ffff !important;
}
.btn-custom:hover {
  background-color: #003340 !important;
  color: #ffff !important;
}

.custom-post-display {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border:1px solid red; */
}
.tab-pane {
  background-color: rgba(172, 172, 172, 0.3);
  padding: 8px;
}
.comment-block {
  transition: background-color 0.2s ease-in-out;
  padding: 8px;
}
.comment-block:hover {
  background-color: rgba(226, 226, 226, 0.3);
}
.comment-block:hover .btn-delete {
  background-color: #f44336;
  color: #ffff !important;
}

a {
  /* color: black; */
  color: rgb(32, 32, 32);
  text-decoration: none !important;
}
a:hover {
  color: rgb(19, 18, 18);
}

* {
  font-family: "Raleway", sans-serif;
}

.custom-card-load > img {
  animation: slide-down 0.5s ease-in-out;
}

@keyframes slide-down {
  0%,
  15% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.fa-edit {
  color: #fff !important;
  font-size: 15px;
  transition: 0.2s ease-in;
}
.fa-trash {
  color: #fff !important;
  font-size: 15px;
  transition: 0.2s ease-in;
}
.btn-primary:hover .fa-edit {
  color: #0073ff !important;
}
.btn-primary:hover .fa-trash {
  color: rgb(231, 39, 39) !important;
}

.rows {
  animation: slide-row-left 0.5s ease-in-out;
}

.row-remove {
  animation: slide-row-right 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
@keyframes slide-row-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes slide-row-left {
  0%,
  15% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.fa-trash:hover {
  color: red;
}

.fa-edit:hover {
  color: #03a9f4;
}

.bg-primary {
  background-color: #01232c !important;
}

.jumbotron {
  color: #7d99a3;
  background-color: inherit;
}
.menu-link {
  /* border-bottom: 3px solid transparent;
  line-height: 1.5 !important;
  align-items: center; */
  position: relative;
}
.nav-item::after {
  transition: all 0.5s ease-in-out;
  height: 0px;
}
.nav-item:hover::after {
  content: "";
  height: 3px;
  background: linear-gradient(
    90deg,
    rgb(170, 167, 214) 0%,
    Yellow 35%,
    rgba(0, 212, 255, 1) 100%
  );
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  animation: anim 0.3s ease-in-out;
}
@keyframes anim {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.navbar {
  box-shadow: 0em 0.2em 0.2em rgba(0, 0, 0, 0.4) !important;
}
.navbar-toggler-icon {
  color: white;
  border: 1px solid red;
}

.btn-outline-secondary {
  color: #e6cf23;
  border-color: inherit;
}
.table-hover tbody tr:hover {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.13);
}

.loader-top {
  background: linear-gradient(
    -45deg,
    rgb(170, 167, 214) 0%,
    Yellow 35%,
    rgba(0, 212, 255, 1) 100%
  );
  background-size: 400% 400%;

  height: 3px;
  animation: loader ease-in-out 0.1s;
  padding: 0;
  margin: 0;
}

@keyframes loader {
  0% {
    width: 1%;
    background-position: 0% 50%;
  }
  50% {
    width: 30%;
    background-position: 100% 50%;
  }
  100% {
    width: 100%;
    background-position: 0% 50%;
  }
}
.close-notification {
  animation-name: anim-close;
  animation-duration: 0.3s;
  animation-delay: 15s;
  animation-fill-mode: forwards;
}
@keyframes anim-close {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

.fa::before {
  height: 20px;
  width: 20px;
}
.switch {
  height: 18px;
  width: 40px;
}
.switch-toggle {
  height: 15px;
  width: 14px;
}
.off {
  background-color: #ac5b5b !important;
}
.chat-box {
  width: 100%;
  z-index: 9999;
  height: 100px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.modal-content {
  animation: modal-in 0.4s ease-in-out;
}
@keyframes modal-in {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.remove-animation {
  transform: unset;
  animation: unset;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #17a2b8;
}
.dropdown-menu {
  top: 60px;
  right: 0px;
  left: 0px;
  width: 380px;
  box-shadow: 0px 5px 7px -1px black;
  padding-bottom: 0px;
  padding: 0px;
  animation: noti-box 0.2s ease-in;
}
.dropdown-menu::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 12px;
  border: 10px solid #343a40;
  border-collapse: collapse;
  border-color: transparent transparent #343a40 transparent;
}
.head {
  padding: 5px 15px;
  border-radius: 3px 3px 0px 0px;
}
.footer {
  padding: 5px 15px;
  border-radius: 0px 0px 3px 3px;
}
.notification-box {
  padding: 10px 0px;
  position: relative;
}

@keyframes noti-box {
  0% {
    transform: scale(0);
    transform-origin: top left;
  }
  100% {
    transform: scale(100%);
    transform-origin: top left;
  }
}

@media screen and (max-width: 600px) {
  .dropdown-menu {
    top: 60px;
    right: 0px;
    left: -100px;
    width: 250px;
    box-shadow: 0px 5px 7px -1px black;
    padding-bottom: 0px;
    padding: 0px;
    animation: noti-box 0.2s ease-in;
  }
  .dropdown-menu::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 110px;
    border: 10px solid #343a40;
    border-collapse: collapse;
    border-color: transparent transparent #343a40 transparent;
  }
}

.badge-light {
  background: #4cd964;
  position: relative;
  top: -10px;
  left: -10px;
  height: 12px;
  width: 12px;
  padding: 0;
  border-radius: 50%;
}

.post-box {
  border-radius: 2%;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background-color: #1a1d24;
  color: #ffff;
  overflow: hidden;
  position: relative;
  margin: 8px;
  /* max-width: 380px; */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0.2em 0.2em 0.5em #000304;
  animation: card-load 0.3s ease-in-out;
}

/* sidebar */

.sidebar {
  top: 50px;
  /* bottom: 0; */
  right: 0;
  padding: 0;
  height: 700px;
  width: 220px;
  background-color: #f1f1f1;
  /* height: 100%; */
  overflow: auto;
  position: fixed;
  z-index: 9999;
  display: none;
  animation: side-bar 0.5s ease-in-out;
}
.close-chatbar {
  animation: side-bar-out 0.5s ease-in-out;
}

@keyframes side-bar {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes side-bar-out {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #01232c;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

.floating-btn {
  position: fixed;
  background-color: #029cf4;
  border-color: transparent;
  color: #f1f5f1;
  right: 0%;
  top: 45%;
  height: 50px;
  width: 50px;
  margin: 0;
  transition: 0.3s linear;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
}

.floating-btn:hover {
  font-size: x-large;
  background-color: #41ae2b;
  color: #f1f5f1;
}

.chat-list:hover::after {
  content: "\f1d8";
  font-family: FontAwesome;
  color: #0073ff;
  padding-left: 10px;
  font-style: normal;
}
